/* Site Colors:
    #1A446C - blue grey
    #689DC1 - light blue
    #D4E6F4 - very light blue
    #EEE4B9 - light tan
    #8D0D19 - burgundy

    Antique and Clean
    #B56357 - RUST
    #B4DBC0 - MINT
    #EAE3EA - SLATE
    #A7B3A5 - SEA FOAM

    Cool and Fresh
    #05386B
    #379683
    #5CDB95
    #8EE4AF
    #EDF5E1

    Close to Nature
    #687864 - earthy green
    #31708E - dark blue
    #5085A5 - medium blue
    #8FC1E3 - light blue
    #F7F9FB - white

    Forest Green
    #4a6741	(74,103,65) - lightest
    #3f5a36	(63,90,54)
    #374f2f	(55,79,47)
    #304529	(48,69,41)
    #22311d	(34,49,29) - darkest

    *** Green Nature ***
    #a6b697	(166,182,151)
    #7a876f	(122,135,111)
    #88a78e	(136,167,142)
    #c2cea7	(194,206,167)
    #88a376	(136,163,118)
*/

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0; padding: 0; borders: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-family: Lato;
    font-size: 13px; line-height: 15px;
}

img {
    border: none;
}

a {
    color: #8D0D19;
}

a:hover {
    color: #1A446C;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
    background: #F7F9FB;
    color: #88a376;
    z-index: 100;
    border-bottom: solid 3px #88a376;
}

#navigation a {
    float: right;
    display: block;
    color: #88a376;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 18px;

    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;

    transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out;
}

#navigation a:hover {
    background-color: #88a376;
    color: #F7F9FB;
    opacity: .70;
}

#navigation a.active {
    background-color: #88a376;
    color: #F7F9FB;

    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

#navigation a.active:hover {
    opacity: .70;
    color: #F7F9FB;
}

#main {
    height: auto;
    width: 100%;
    padding: 0;
}

.section {
    padding: 100px 2% 100px 2%;
}


#footer {
    clear: both;
    height: 20px;
    margin: 0;
    padding: 1em;
    text-align: center;
    background: #F7F9FB;
    color: #88a376;
}

/* HEADER */
#cover {
    opacity: 0.75;
}

.parallax {
    /* The image used */
    background-image: url("../images/raccoon.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.greybox {
    background-color: #111;
    margin: auto;
    width: 20%;
    color: #fff;
    padding: 15px;
    font-size: 25px;
    letter-spacing: 8px;
    opacity: .90;
}
/* END OF HEADER */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.background-white {
    background-color: #ffffff;
}

.background-alt {
    background-color: rgba(136, 167, 142, 0.5);
}

.background-last {
    background-color: #88a376;
}

.sticky + #main {
    padding-top: 60px;
}
